.box {
    border: 2px solid rgb(45, 24, 160);
    padding: 6px;
    margin: 20px;
    background-color: rgba(131, 29, 80, 0.945);
    width: fit-content;
  }
  body {
      background-color: rgb(85, 1, 1);
  }
  